@font-face {
    font-family: "YS Text";
    src: url("../fonts/text-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "YS Text";
    src: url("../fonts/text-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "YS Text";
    src: url("../fonts/text-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/fonts/hack-regular-subset.woff2")
            format("woff2"),
        url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/fonts/hack-regular-subset.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
}
