:root {
    // colors fonts
    --black-500: #000000;
    --green-500: #00b341;
    --orange-500: #ff9a00;
    --red-500: #ff3333;
    --blue-grey-500: #7f8285;
    --color-text-disabled: #7f7f7f;

    // color background
    --color-bg-base: #ffffff;
    --blue-grey-50: #f0f2f3;
    --popup: rgba(0, 0, 0, 0.4);

    // buttons
    --color-bg-action: #ffcc00;
    --color-bg-action-hovered: #f2c200;
    --color-bg-control: #e6e6e6;
    --color-bg-control-hovered: #dbdbdb;
    --color-bg-disabled: #f2f2f2;

    // borders for inputs
    --color-bg-heavy: #d9d9d9;

    // borders for buttons
    --color-border-action-focused: #b38f00;
    --color-border-focused: #b3b3b3;

}
